[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.9"
djangorestframework = "==3.12.4"
django-environ = "==0.8.1"
drf-yasg = "==1.20.0"
gunicorn = "==20.1.0"
psycopg2-binary = "==2.9.1"
sentry-sdk = "==1.4.3"
django-split-settings = "==1.1.0"
whitenoise = "==5.3.0"
django-lifecycle = "*"
django-filter = "*"
django-heroku = "*"

[dev-packages]
pytest-django = "*"
mixer = "*"
django-debug-toolbar = "*"
flake8 = "*"
flake8-django = "*"
wemake-python-styleguide = "*"

[requires]
python_version = "3.9"
